body{
    height: auto;
}

.bg-gradientblue {
    background-image: var(--gradient);
}

.logo {
    color: var(--color-babyblue) !important;
    font-size: 1.6rem;
}

.nav-link {
    color: var(--color-babyblue) !important;
    font-size: 1rem;
}

.nav-link:hover {
    color: var(--color-bluegreen) !important;
    transition: 0.4s;
}

.navbar-toggler {
    box-shadow: none !important;
    color: var(--color-babyblue) !important;
}

.icon {
    font-size: 1.4rem;
}

.section-title {
    font-size: 1.3rem;
    color: var(--color-darkblue);
}

.help-text {
    font-size: 1rem !important;
}

.help-panel {
    width: 100%;
    height: 5.9rem;
    background-image: var(--gradient);
    color: var(--color-babyblue);
    border: 0;
}

.help-panel:hover {
    color: var(--color-yellow);
    transition: .6s;
}

.register {
    width: 10rem;
    font-size: 1rem;
    background-color: var(--color-bluegreen) !important;
    border: 0;
}

.register:hover{
    background-color: var(--color-bluegrotto) !important;
    transition: .6s;
    color: var(--color-babyblue);
}

.foot{
    color: var(--color-babyblue);
}