:root {
  --font-body: "Poppins", sans-serif;
  --color-navyblue: #05445e;
  --color-bluegrotto: #189ab4;
  --color-bluegreen: #75e6da;
  --color-babyblue: #daf1f4;
  --color-darkblue: #050a30;
  --color-darknavy: #000c66;
  --color-yellow: #f8ea8c;
  --gradient: linear-gradient(45deg,
      hsl(233deg 81% 10%) 0%,
      hsl(233deg 83% 12%) 21%,
      hsl(233deg 84% 13%) 30%,
      hsl(233deg 88% 14%) 39%,
      hsl(233deg 89% 15%) 46%,
      hsl(233deg 93% 16%) 54%,
      hsl(233deg 93% 17%) 61%,
      hsl(233deg 96% 18%) 69%,
      hsl(233deg 98% 19%) 79%,
      hsl(233deg 100% 20%) 100%);
}

body {
  font-family: var(--font-body);
  color: var(--color-babyblue) !important;
}